<%# Wrapped by #checkout %>
<main>
    <div aria-label="Close"></div>
    <h2>Checkout</h2>

    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Individual Price</th>
                <th>Combined Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>Gross Total</td>
                <td></td>
                <td id="gross-total"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>HST</td>
                <td></td>
                <td id="hst"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Net Total</td>
                <td></td>
                <td id="net-total"></td>
                <td><div aria-label="Empty" id="empty"></div></td>
            </tr>
        </tfoot>
    </table>

    <div><div id="purchase">Purchase</div></div>
</main>
