<%# Wrapped by #sales-floor %>
<header>
    <h1>Ottawa Market</h1>
</header>
<main>
    <div aria-label="Filter"></div>
    <h2>Groceries on Sale</h2>
</main>
<footer>
    Website designed by Daniel Tang (0300068985)
    <br/>
    University of Ottawa SEG3125 Lab 2
    <br/>
    <br/>
    <aside>
        Handed in on Tuesday, 2nd of June, 2020
    </aside>
</footer>
