<%# Wrapped by #processing %>
<main>
    <section>
        <span>&#x23f3;</span>
        <h2>Processing Payment...</h2>
    </section>
    <section>
        <span>&#x2705</span>
        <h2>Payment Successful</h2>
    </section>
</main>
