<%# Wrapped by #settings %>
<main>
    <div aria-label="Close"></div>
    <h2>Client Information</h2>

    <div>
        <input type="checkbox" id="vegetarian" />
        <label for="vegetarian">Vegetarian</label>
        <input type="checkbox" id="gluten-free" />
        <label for="gluten-free">Gluten-free</label>
        <input type="checkbox" id="organic" />
        <label for="organic">Organic</label>
        <input type="checkbox" id="diabetic" />
        <label for="diabetic">Diabetic</label>
        <input type="checkbox" id="lactose-intolerant" />
        <label for="lactose-intolerant">Lactose Intolerant</label>
    </div>
</main>
