<!DOCTYPE HTML>
<!--suppress HtmlUnknownTag -->
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Ottawa Market</title>
        <%-
        // noinspection JSUnresolvedVariable
        htmlWebpackPlugin.tags.headTags
        %>
    </head>
    <body>
    <div id="sales-floor">
        <% include salesFloor/salesFloor.ejs %>
    </div>
    <div id="cart-bar" hidden>
        <% include cartBar/cartBar.ejs %>
    </div>
    <div id="settings" hidden>
        <% include settings/settings.ejs %>
    </div>
    <div id="checkout" hidden>
        <% include checkout/checkout.ejs %>
    </div>
    <div id="processing" hidden>
        <% include processing/processing.ejs %>
    </div>
    <%-
    // noinspection JSUnresolvedVariable
    htmlWebpackPlugin.tags.bodyTags
    %>
    </body>
</html>
